.DS_Store
.target/
.cache
.classpath
.project
.history
*.iml
org.eclipse.wst.common.component
/bin/
lib_managed/
src_managed/
target/
log/
/.idea/
/.idea/dictionaries/
/.idea/libraries/
/.idea/copyright
/.idea/scopes
.settings/
*/target*